.details{
    display: flex;
    justify-content: space-around;
    margin:10px 0;
}

.username{
    border-radius: 0;
    width:45%;
}

.street{
    border-radius: 0;
    width:30%;
}

.pincode{
    border-radius:0;
    width:20%;
}

textarea{
    width:55%;
    height:10vh;
}

.errorClass{
    border:1px solid red;
}

.button{
    width:20%;
    border:none;
    height: 5vh;
    align-self: flex-end;
}