.warningCard{
    width:40%;
    height:30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.warningTitle{
    background-color: rgb(50, 1, 95);
    height:8vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    padding:10px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.warningBody{
    width:100%;
    height:10vh;
    margin:5px 10px;
}

.warningCard button{
    align-self: flex-end;
    margin-right:10px;
}
